.cardSize {
  width: 16rem;
  margin: 10px;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.contenedorTarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
  z-index: 1;
  background-color: rgb(221, 149, 16);
  padding: 20px;
}
